/* Reset some basic styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer, .form-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* Header styles */
.header {
    padding: 60px;
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.header h1 {
    margin-bottom: 10px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.navbar a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #575757;
}

.navbar a.active {
    background-color: #ffffff;
    color: #333;
}

/* Form container styles */
.form-container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    border-radius: 5px;
    width: 90%;
    max-width: 600px;
}

.form-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-header button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-header button.active, .form-header button:hover {
    background-color: #575757;
}

.form-content {
    display: none;
}

.form-content.active {
    display: block;
}

.form-content form {
    display: flex;
    flex-direction: column;
}

.form-content input[type="text"], .form-content input[type="email"], .form-content input[type="password"], .form-content input[type="file"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-content button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.form-content button:hover {
    background-color: #575757;
}

.error-message {
    color: red;
    font-size: 0.9em;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
